fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic-settings==2.10.1
python-dotenv==1.1.1
psycopg[binary]==3.2.9
pgvector==0.4.1
pypdf==6.0.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu
sentence-transformers==5.1.0
google-genai==1.30.0
python-multipart==0.0.20
pytest==8.4.1
